.team-container {
  text-align: center;
  margin: 20px;
}

.top14-logo {
  max-width: 100px;
  margin-right: 10px;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.text-card {
  font-size: 12px;
}

.team-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: -10px;
}

h4 {
  height: 40px;
  width: 170px;
  text-align: center;
  margin: 0 0 20px 0;
}
h1,
h2,
p {
  margin: 0;
}
.custom-link {
  color: black;
  text-decoration: none;
}

.team-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
