body {
  margin: 0;
  font-family: "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem;
}

.container team {
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center;
}
